//fonts
$default-font-size: 1.6rem;

//colours
$white-color: #f2f2f2;
$black-color: #222222;

$main-color1: #1c77c3;
$main-color2: #39a9db;
$main-color4: #40bcd8;
$main-color5: #f39237;
$main-color6: #d63230;
