.photo {
  width: 24rem;
  height: auto;
  float: left;
  clip-path: circle(42%);
  -webkit-shape-outside: circle();
  shape-outside: circle();
  transition: all 0.2s ease-in;
}

.photo:hover {
  clip-path: circle(45%);
}

.text {
  width: 30%;
  margin: auto;
  height: 80vh;
  font-size: 1.6rem;
  position: relative;
}

@media only screen and (max-width: 600px) {
  .text {
    font-size: 2.7vw;
    width: 80%;
  }
}
