.photo {
	width: 200px;
	height: auto;
	margin-bottom: 10px;
}

.text {
	width: 50%;
	margin: auto;
	font-size: 1vw;
}

@media only screen and (max-width: 600px) {
	.text {
		font-size: 2.7vw;
		width: 80%;
	}
}