.contactInfo {
  margin: auto;
  display: flex;
  justify-content: center;
  position: relative;
}

.list {
  list-style-type: none;
}

h2 {
  font-size: 3rem;
}

.contactLinks {
  display: flex;
  align-items: center;
  font-size: 2rem;
}

.boxes {
  border-radius: 20rem;
  display: flex;
  align-items: center;
}

.contactLogos {
  width: auto;
  height: 10rem;
  margin: 1rem;
  animation-name: spin;
  animation-duration: 1.2s;
  transition: all 0.2s ease;
}

.contactTitle,
.contactTitle:link,
.contactTitle:visited {
  color: #f2f2f2;
  opacity: 0;
  transform: translateX(-3rem);
  transition: all 0.2s ease;
  position: relative;
  z-index: -2;
}

.contactLogos:hover {
  transform: scale(1.1);
}

.contactLogos:hover + .contactTitle {
  opacity: 1;
  transform: translateX(0);
}

@keyframes spin {
  0% {
    transform: rotate(120deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 600px) {
  .logos {
    width: auto;
    height: 4rem;
  }
  .contactLinks {
    font-size: 1vw;
  }
}
