html {
  font-size: 62.5%;
}

.skills {
  width: 60%;
  margin: auto;
  position: relative;
  overflow: hidden;
  box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.2);
}

.skillRow {
  background-color: rgba(40, 40, 40, 0.1);
}

.skillLogos {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.logos {
  height: 8rem;
  width: auto;
  margin-left: 5px;
  margin-right: 5px;
  filter: grayscale(100%);
  transition: all 0.2s;
}

.logos:hover {
  filter: grayscale(0%);
}

h5 {
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 15px;
  color: #f39237;
}

.skillsBg {
  position: absolute;
  top: 0rem;
  left: -30rem;
  right: -30rem;
  bottom: -30rem;
  margin: auto;
  z-index: -1;
  opacity: 0.4;
}

.skillsBgContent {
  width: 100%;
  object-fit: fill;
}

@media only screen and (max-width: 1500px) {
  .skills {
    width: 90%;
  }

  h5 {
    font-size: 2.5rem;
  }

  .skillsBg {
    position: absolute;
    top: 0rem;
    left: -30rem;
    right: -30rem;
    bottom: -30rem;
  }
}

@media only screen and (max-width: 800px) {
  .skills {
    width: 90%;
  }

  h5 {
    font-size: 2.5rem;
  }
}

@media only screen and (max-width: 500px) {
  .skills {
    width: 90%;
    background-color: rgba(0, 0, 0, 0.4);
  }

  h5 {
    margin-bottom: 0.2rem;
  }
}
