.projects {
  width: 30rem;
  height: 40rem;
  margin: 5px;
  color: white;
  align-items: center;
  background-color: rgba(40, 40, 40, 0.3);
}

.cardTitle {
  margin: 1rem;
  font-weight: bold;
  color: #28a745;
  font-size: 2rem;
}

.cardText {
  font-size: 1.6rem;
}

.cardImg {
  height: 10rem;
  width: 10rem;
  margin-top: 5px;
}

.projectButton {
  position: relative;
  bottom: 1rem;
  font-size: 1.6rem;
}

@media only screen and (max-width: 600px) {
  .projects {
    width: 16rem;
    height: 30rem;
    font-size: 2.5vw;
  }
  .cardImg {
    height: 7rem;
    width: 7rem;
    margin-top: 5px;
  }
}
