.projects {
  width: 60vw;
  margin-bottom: 1.5rem;
  color: white;
  background-image: linear-gradient(
    120deg,
    #40bcd8 0%,
    #40bcd8 28%,
    #f2f2f2 28%
  );
  padding: 2rem 3rem;
  border-radius: 1rem;
  box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease-out;
}
.projects:hover {
  transform: scale(1.05);
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.6);
}
.cardInfo {
  width: 70%;
  float: right;
}
.cardTitle {
  font-weight: bold;
  color: #f39237;
  text-transform: uppercase;
}
.cardText {
  font-size: 1.6rem;
  color: #222222;
  transform: scaleY(0);
  transition: all 0.2s;
}
.projects:hover > .cardInfo > .cardText {
  transform: scaleY(1);
}
.cardImg {
  height: 10rem;
  width: auto;
  float: left;
}
.techUsed {
  width: 80%;
  border-radius: 3px;
  margin: auto;
  backgroundmargin: 0 auto;
  padding: 1rem 0;
  background-image: linear-gradient(
    120deg,
    #40bcd8 0%,
    #40bcd8 50%,
    #39a9db 50%
  );
}
.skillLogoCard {
  width: 7rem;
  height: auto;
  margin-right: 1rem;
}
@media only screen and (max-width: 1500px) {
  .projects {
    width: 90vw;
    height: 23rem;
    padding: 0.5rem 1.5rem;
  }
  .cardImg {
    height: 20rem;
  }
  .cardTitle {
    font-size: 2.5rem;
  }
  .techUsed {
    padding: 0.5rem 0;
    width: 90%;
  }
  .skillLogoCard {
    width: 5.5rem;
    margin-right: 0.5rem;
  }
  .cardText {
    font-size: 1.4rem;
  }
}
@media only screen and (max-width: 800px) {
  .projects {
    width: 90vw;
    padding: 0.5rem 1.5rem;
  }
  .cardImg {
    height: 13rem;
  }
  .cardTitle {
    font-size: 2rem;
  }
  .techUsed {
    padding: 0.5rem 0;
    width: 90%;
  }
  .skillLogoCard {
    width: 4rem;
    margin-right: 0.5rem;
  }
  .cardText {
    display: none;
  }
}
@media only screen and (max-width: 500px) {
  .projects {
    width: 90vw;
    padding: 0.5rem 1.5rem;
  }
  .cardImg {
    height: 7rem;
  }
  .cardTitle {
    font-size: 1rem;
  }
  .techUsed {
    padding: 0.5rem 0;
    width: 90%;
  }
  .skillLogoCard {
    width: 2rem;
    margin-right: 0.5rem;
  }
  .cardText {
    display: none;
  }
}
