@import "./Sass/variables";

* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

.App {
  text-align: center;
}

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 6vw;
  }

  .subtitle {
    font-size: 3vw;
  }
}
