body {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans', sans-serif;
  background-color: black;
  color: white;
  overflow-x: hidden;
}

a {
	text-decoration: none;
	color: green;
}

a:hover {
	text-decoration: none;
	color: darkgreen;
}

h1 {
	font-weight: bold;
	margin-top: 10px;
}

.subtitle {
	font-style: italic;
	font-family: serif;
	font-size: 1.5em;
}

hr {
	background-color: limegreen;
	width: 70%;
}